* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Geometria";
    background-color: #f0f4f7;
    color: #1f2847;
    max-width: 1920px;
    min-width: 1200px;
}
.bodyWrap{
    overflow: hidden
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 1169px;
    margin: 0 auto;
    padding: 0;

}
/*Хэдер начало*/
header {
    height: 1040px;
    background: rgb(62, 80, 141); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(62, 80, 141, 1) 0%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 88%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(62, 80, 141, 1) 0%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 88%); /* Chrome10-25,Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e508d', endColorstr='#18203b', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    background: url("../img/png/hand_header.png") no-repeat left bottom,
    url("../img/png/left_line3.png") no-repeat left -573px top -200px,
    url("../img/png/hand_header.png") no-repeat left bottom,
    url("../img/png/left_line2.png") no-repeat left -607px top -238px,
    url("../img/png/left_line1.png") no-repeat left -733px top -272px,
    url("../img/png/header_left_lines.png") no-repeat left bottom -28px,
    url("../img/png/header_right_lines.png") no-repeat right bottom -159px,
    radial-gradient(ellipse at center, rgba(62, 80, 141, 1) 0%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.logo{
    margin-top: 45px;
}
.menu{
    margin-top: 81px;
}
.logo>*{
    float: left;
}
.logoWords{
    margin-left: 20px;
}
.logoWords span:nth-child(1), .companyName span:nth-child(1) {
    color: #6981f1;
}

.logoWords span:nth-child(2), .companyName span:nth-child(2) {
    color: #b998ef;
}

.logoWords span:nth-child(3), .companyName span:nth-child(3) {
    color: #49d5fe;
}

.topHeader>*{
    float: left;
    vertical-align: center;
}
.menu a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}
.menu li {
    display: inline-block;
    padding: 7px 20px;
    position: relative;
    margin-left: 30px;
}
/*Ховер у меню*/
.menu a:hover {
    color: #b998ef;
}

.menu a:hover::before{
    display: block;
    content: '';
    position: absolute;
    border: 1px solid #b998ef;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
    z-index: 2;
    color: #b998ef;
}
.menu a:hover::after{
    display: block;
    content: '';
    position: absolute;
    border: 1px solid #b998ef;
    border-left-color: transparent;
    border-top-color: transparent;
    width: 17px;
    height: 17px;
    bottom: 0;
    right: 0;
    z-index: 2;
}
/*Ховер у меню конец*/

.logoWords span {
    font-size: 19px;
    line-height: 20px;
    font-weight: 500;
}
.lang{
    width: 97px;
    height: 33px;
    background:no-repeat #2f3753  left  5px top 6px;
    border: 1px solid #4e566e;

}
.topHeader .connect{
    position: relative;
    padding: 11px 18px 11px 44px;
}
.topHeader span[class='icon-telegram']{
    position: absolute;
    left:16px;
}

.icon-telegram {
    color: #49d5fe;
}
.langConnect>*{
    display: block;
}
.connect a {
    color: #49d5fe;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.banner .connect > * {
    font-size: 18px;
}

.connect {
    border: 1px solid #49d5fe;
}

.connectWhite {
    border: 1px solid #858eff;
}

.companyName span {
    font-weight: 900;
    font-size: 120px;
    line-height: 54px;
}

div + h1 {
    font-size: 33px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;
}

/*Хэдер конец*/

/*3 блока выбора линий начало*/
.lineItems {
    height: 152px;
    margin-top: -130px;
    display: table;
    width: 100%;
    z-index: 5;
    position: relative;
}
.line {
    display: table-cell;
    width: 33.3333%;
    cursor: pointer;
    height: inherit;
    text-align: center;
    padding-top: 42px;
    -webkit-box-shadow: inset -33px -33px 153px -36px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset -33px -33px 153px -36px rgba(0, 0, 0, 0.75);
    box-shadow: inset -33px -33px 153px -36px rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 4;
}

.line:nth-child(1):before {
     content: url("../img/png/main_header_lines_right2.png");
     position: absolute;
     left: 50%;
     bottom:65px;
 }
.line:nth-child(1):after {
    content: url("../img/png/main_header_lines_right5.png");
    position: absolute;
    left: 50%;
    top: -212px;
    z-index: -999;
}

.line span {
    display: block;
}

.line:nth-child(1) {
    background-color: #6980f0;
}

.line:nth-child(2) {
    background-color: #af82f6;
}

.line:nth-child(3) {
    background-color: #4fceff;
}

.firstLine {
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
}

.secondLine {
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    color: #ffffff;
    text-transform: uppercase;
}
/*3 блока выбора линий конец*/

/*4 блока с тарифами начало*/
.rates {
    height: 927px;
}
.ratesItems {
    margin-top: -22px;
    background-color: #f0f4f7;
}
.itemsContent{
    display: grid;
    grid-template-rows: repeat(3,1fr) 134px;
}
.card {
    border:  1px solid #cfd7dd;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 138px 121px auto;
    text-align: center;
}
.cardsWrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(539px,max-content);
    grid-gap: 31px;
    margin-top: 132px;
}.card span{
     vertical-align: middle;
 }
 .itemsContent>div:nth-child(odd){
     background-color: #f0f4f7;
 }
 .upgrade div{
     width: 232px;
     height: 50px;
     margin: auto;
 }
 .card:nth-child(1) .upgrade div{
     background-color: #637ae2;
 }
.ratesItems .cardName {
    font-size: 17px;
    font-weight: 500;
}
.ratesItems span[class='icon-robot']{
    font-size: 60px;
    margin-top: 16px;
}
.cardHeader{
    background-color: #1f2847;
    display: grid;
 }
.card:first-child .cardHeader{
    color: #6e87fa;
}

.card:nth-child(2) .cardHeader {
    color: #858eff;
}

.card:nth-child(3) .cardHeader {
    color: #af82f6;
}
.card:nth-child(4) .cardHeader {
    color: #4fceff;
}

.card {
    float: left;
    display: block;
}
.card .percent  {
    font-family: Roboto;
    font-weight: 900;
    padding: 30px;
}

.card .percent span {
    font-size: 45px;
    color: #000;
}

.card .percent span > span {
    font-size: 15px;
}

.card .itemsContent span {
    font-family: Roboto;
    font-size: 15px;
    line-height: 48px;
}

.card .upgrade span {
    font-weight: 700;
}

.card .upgrade span > span {
    font-size: 21px;
}

.card .upgrade a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
}



.card:nth-child(1) .upgrade span {
    color: #5a6fcf;
}

.card:nth-child(2) .upgrade span {
    color: #6a86f1;
}

.card:nth-child(3) .upgrade span {
    color: #a773f7;
}

.card:nth-child(4) .upgrade span {
    color: #33c1f7;
}
/*4 блока с тарифами конец*/

/*Калькулятор начало*/
.calculator {
    height: 785px;
    background: linear-gradient(to left, #359ccb, #6b4fbf);
}

.calculator h2 {
    color: #ffffff;
    font-size: 37px;
    line-height: 54px;
}

.calculator h4 {
    color: #ffffff;
    font-size: 14px;
    line-height: 54px;
    text-transform: uppercase;
}

.calculator h3 {
    color: #ffffff;
    font-size: 21px;
    line-height: 54px;
    text-transform: uppercase;
}

.calculator .profit span {
    font-size: 70px;
    line-height: 34px;
    color: #858eff;
    font-family: Roboto;
    font-weight: 900;
}

.connectWhite > * {
    font-size: 21px;
    line-height: 54px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.connectWhite a {
    font-weight: 700;
}
/*Калькулятор конец*/

/*Сертификат начало*/
.certificate {
    background-color: #ffffff;
    height: 742px;
}

.certificate .certTitle > span {
    font-size: 177px;
    line-height: 54px;
    font-weight: 800;
}

.certificate h2 {
    font-size: 33px;
    line-height: 54px;
    text-transform: uppercase;
}

.certificate p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
}

.certificate p > span {
    font-weight: 700;
}

.certificate img {
    border: 1px solid #1f2847;
    padding: 30px;
}

/*Сертификат конец*/

/*Преимущества начало*/
.advantages {
    height: 1167px;
    background-color: #f0f4f7;
}

.advantages h2, .advantages h4 {
    line-height: 30px;
    text-transform: uppercase;
}

.advantages p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
}

.advantages h3 {
    font-family: Roboto;
    font-size: 21px;
    line-height: 27px;
    font-weight: 400;
}

.advantages .logoWords span {
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
}

.advantages ul span:not([class^="icon"]) {
    font-size: 15px;
    line-height: 24px;
    font-family: Roboto;
    font-weight: 700;
}

.advantages span[class^="icon"] {
    font-size: 43px;
}
/*Преимущества конец*/

/*Партнёрская программа начало*/
.partnersProgram {
    background: linear-gradient(to left, #359ccb, #6b4fbf);
    height: 799px;
}

.partnersProgram h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 33px;
    line-height: 30px;
}

.affItems p {
    font-family: Roboto;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
}

.affItems p > span {
    font-weight: 700;
    font-size: 33px;
    line-height: 36px;
}
/*Партнёрская программа конец*/

/*Новости начало*/
.news {
    height: 969px;
    background-color: #ffffff;
}

.news h2 {
    text-transform: uppercase;
    font-size: 33px;
    line-height: 30px;
}

.news h4 {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

.date {
    font-family: Roboto;
    font-weight: 700;
    font-size: 33px;
    text-transform: uppercase;
    color: #ffffff;
    width: 73px;
    height: 73px;
    background: rgba(80,189,239,1);
    background: -moz-linear-gradient(left, rgba(80,189,239,1) 0%, rgba(127,97,220,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(80,189,239,1)), color-stop(100%, rgba(127,97,220,1)));
    background: -webkit-linear-gradient(left, rgba(80,189,239,1) 0%, rgba(127,97,220,1) 100%);
    background: -o-linear-gradient(left, rgba(80,189,239,1) 0%, rgba(127,97,220,1) 100%);
    background: -ms-linear-gradient(left, rgba(80,189,239,1) 0%, rgba(127,97,220,1) 100%);
    background: linear-gradient(to right, rgba(80,189,239,1) 0%, rgba(127,97,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50bdef', endColorstr='#7f61dc', GradientType=1 );

}

.current_news h3, .item_news h3 {
    font-size: 17px;
    line-height: 27px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
}
.newsContent{
    border: 1px solid #cfd7dd;
    border-top: none;
}
.newsItem h3 {
    font-size: 15px;
    display: block;
}

.news .current_news {
    background-repeat: no-repeat;
    width: 570px;
    height: 367px;
    background-position: right center;
    grid-row: 1 / -1 ;
}

.news .current_news h3 {
    color: #ffffff;
}

.news p {
    font-family: Roboto;
    font-size: 15px;
    line-height: 20px;
    color: #6e7383;
}

.news a {
    color: #49d5fe;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
}

.news .current_news p {
    line-height: 20px;
}
.item_news .date{
    display: block;
    float: left;
}
.month{
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}
.item_news .newsHeader{
    background-color: #f0f4f7;
    height: 73px;

}
.newsHeader span[class='icon-robot']{
    font-size: 16px;
    color: #9b9fad;
}
.newsHeader span[class='icon-robot']+span{
    color: #9b9fad;
    font-size: 13px;
    line-height: 24px;
}
.newsList{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,auto);
}


/*Новости конец*/

/*Способы оплаты*/
.payments {
    background: linear-gradient(to left, #359ccb, #6b4fbf);
    height: 390px;
}
/*Способы оплаты конец*/

/*Футер*/

footer {
    background-color: #1f2847;
}

footer .menu {
    background-color: #151b33;
}

footer .connect * {
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 54px;
}

.footerInfo {
    font-size: 15px;
    line-height: 25px;
    color: #bbc0d2;
}

.social span {
    line-height: 22px;
}

.footerInfoTitle {
    font-size: 14px;
    line-height: 25px;
    font-family: Roboto;
    font-weight: 700;
}

footer .address .row1 {
    color: #6981f1;
}

footer .social .row2 {
    color: #a489d9;
}

footer .social .row3 {
    color: #49d5fe;
}

.topFooter > div {
    display: block;
    float: left;
}

.topFooter .social > div {
    display: block;
    float: left;
}

h1 {
    font-size: 55px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;
}

.newsMore {
    font-size: 31px;
    line-height: 54px;
    height: auto;
}

.newsMore p {
    line-height: 22px;
}

.affiliate {
    background-color: #f0f4f7;
}

.referralItems {
    background-color: #1f2847;
}

.referralItems p {
    color: #9da4bd;
}