* {
    box-sizing: border-box;

}




a {
    text-decoration: none;
}

fieldset {
    border: none;
}

body {
    margin: 0 auto;
    font-family: "Geometria";
    background-color: #f0f4f7;
    color: #1f2847;
    max-width: 1920px;
    min-width: 1200px;
    padding: 0;
}

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

.bodyWrap {
    overflow: hidden
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 1169px;
    margin: 0 auto;
    padding: 0;

}

/*Хэдер начало*/
header {
    height: 1040px;
    position: relative;
}

header:after {
    width: 1920px;
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 0;
    margin-left: -960px;
    height: inherit;
    background: rgb(62, 80, 141); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(62, 80, 141, 1) 0%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 88%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(62, 80, 141, 1) 0%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 88%); /* Chrome10-25,Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e508d', endColorstr='#18203b', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    background: url("../img/png/hand_header.png") no-repeat left bottom,
    url("../img/png/left_line3.png") no-repeat left -573px top -200px,
    url("../img/png/hand_header.png") no-repeat left bottom,
    url("../img/png/left_line2.png") no-repeat left -607px top -238px,
    url("../img/png/left_line1.png") no-repeat left -733px top -272px,
    url("../img/png/header_left_lines.png") no-repeat left bottom -28px,
    url("../img/png/header_right_lines.png") no-repeat right bottom -159px,
    radial-gradient(ellipse at center, rgba(62, 80, 141, 1) 0%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 62%, rgba(24, 32, 59, 1) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.topHeader {
    width: 100%;
    position: relative;
    height: 120px;
    position: relative;
}

.logo > * {
    display: inline-block;
}

header .logo {
    width: 202px;
    position: absolute;
    left: 0;
    bottom: 13px;
}

.logoWords span:nth-child(1), .companyName span:nth-child(1) {
    color: #6981f1;
}

.logoWords span:nth-child(2), .companyName span:nth-child(2) {
    color: #b998ef;
}

.logoWords span:nth-child(3), .companyName span:nth-child(3) {
    color: #49d5fe;
}

.logoWords span {
    font-size: 19px;
    line-height: 19px;
    font-weight: 500;
}

.menu a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    line-height: 14px;
}

.topHeader .menu {
    position: absolute;
    bottom: 5px;
    left: 271px;
}

.menu {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    text-transform: uppercase;
    line-height: 14px;
}

.menu li {
    padding: 7px 20px;
    position: relative;
}

.menu li + li {
    margin-left: 25px;
}

.langConnect {
    height: 95px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.lang {
    width: 97px;
    height: 33px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

}
.lang>div{
    border: 1px solid #4e566e;
    width: 100%;
    color: #ffffff;
    background-color: #2f3753;
}
.lang span{
    margin:  50px;
    line-height: 30px;
}

.langitem:nth-child(1){
    background: url(../img/jpg/eng.jpg) left 7px top 4px no-repeat;
    border-bottom: 1px solid #4e566e;
    height: 33px;
}
.langitem:nth-child(2){
    background: url(../img/jpg/ch.jpg)  left 7px top 4px no-repeat;
    border-bottom: 1px solid #4e566e;
    height: 33px;
}
.langitem:nth-child(3){
    background: url(../img/jpg/rus.jpg)  left 7px top 4px no-repeat;
    height: 33px;
}

.topHeader .connect {
    height: 35px;
    width: 191px;
    border: 1px solid #49d5fe;
    line-height: 33px;
    vertical-align: middle;
}

.icon-telegram {
    color: #49d5fe;
}

.langConnect .connect {
    position: absolute;
    bottom: 0;
    right: 0;
}

.langConnect .connect a {
    padding-left: 11px;
}

.connect a {
    color: #49d5fe;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

/*Ховер у меню*/
.menu a:hover {
    color: #b998ef;
}

.menu a:hover::before {
    display: block;
    content: '';
    position: absolute;
    border: 1px solid #b998ef;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 15px;
    height: 15px;
    top: -1px;
    left: -1px;
    z-index: 2;
    color: #b998ef;
}

.menu a:hover::after {
    display: block;
    content: '';
    position: absolute;
    border: 1px solid #b998ef;
    border-left-color: transparent;
    border-top-color: transparent;
    width: 15px;
    height: 15px;
    bottom: -4px;
    right: 3px;
    z-index: 2;
}

/*Ховер у меню конец*/

.banner {
    height: 348px;
    width: 630px;
    margin: 158px auto 0px;
    position: relative;
}

.bannerWrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.banner:before,
.banner:after,
.bannerWrapper:before,
.bannerWrapper:after {
    position: absolute;
    width: 58px;
    height: 58px;
    content: '';
    border: solid #ffffff;
}

.banner:before {
    left: 0;
    top: 0;
    border-width: 2px 0 0 2px;
}

.banner:after {
    right: 0;
    top: 0;
    border-width: 2px 2px 0 0;
}

.bannerWrapper:before {
    right: 0;
    bottom: 0;
    border-width: 0 2px 2px 0;
}

.bannerWrapper:after {
    left: 0;
    bottom: 0;
    border-width: 0 0 2px 2px;
}

h1 {
    font-size: 33px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

h1 > span {
    line-height: 60px;
}

.banner .connect > * {
    font-size: 18px;
    line-height: 46px;
    vertical-align: middle;
}

.banner .connect a {
    padding-left: 18px;
}

.banner .connect {
    width: 260px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 318px;
    left: calc(50% - 130px);
}

.connect {
    border: 2px solid #49d5fe;
    text-align: center;
}

.companyName {
    width: 100%;
    text-align: center;
    margin-top: 7px;
}

.companyName span {
    font-weight: 900;
    font-size: 120px;
}

/*Хэдер конец*/

/*3 блока выбора линий начало*/
.lineItems {
    height: 130px;
    margin-top: -130px;
    display: table;
    width: 100%;
    position: relative;
    z-index: 1;
}

.line {
    display: table-cell;
    width: 33.3333%;
    cursor: pointer;
    height: inherit;
    text-align: center;
    padding-top: 42px;
    -webkit-box-shadow: inset -33px -33px 153px -36px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset -33px -33px 153px -36px rgba(0, 0, 0, 0.75);
    box-shadow: inset -33px -33px 153px -36px rgba(0, 0, 0, 0.75);
    position: relative;
}

.line:nth-child(1) {
    background-color: #6980f0;
}

.line:nth-child(2) {
    background-color: #af82f6;
}

.line:nth-child(3) {
    background-color: #4fceff;
}

.line:before {
    content: '';
    position: absolute;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    height: 23px;
    width: 46px;
    left: calc(50% - 23px);
    bottom: -23px;
    -webkit-box-shadow: inset -39px -31px 48px -32px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset -39px -31px 48px -32px rgba(0, 0, 0, 0.75);
    box-shadow: inset -39px -31px 48px -32px rgba(0, 0, 0, 0.75);
}

.line:nth-child(1):before {
    background: #4756a2;
    display: none;
}

.line:nth-child(1):hover:before, .line:nth-child(2):hover:before, .line:nth-child(3):hover:before {
    display: block;
}

.line:nth-child(2):before {
    background: #7355a1;
    display: none;
}

.line:nth-child(3):before {
    background: #3487a7;
    display: none;

}

.line:nth-child(1):after {
    content: '';
    position: absolute;
    background: url("../img/png/main_header_lines_right1.png") no-repeat;
    left: calc(50% - 10px);
    top: -217px;
    width: 1628px;
    height: 535px;
    z-index: -1;
}

.line:nth-child(2):after {
    content: '';
    position: absolute;
    background: url("../img/png/main_header_lines_right2.png") no-repeat;
    left: calc(50% - 20px);
    top: -139px;
    width: 1130px;
    height: 573px;
    z-index: -1;
}

.line:nth-child(3):after {
    content: '';
    position: absolute;
    background: url("../img/png/main_header_lines_right3.png") no-repeat;
    left: calc(50% - 10px);
    top: -217px;
    width: 1628px;
    height: 299px;
    z-index: -1;
}

.line span {
    display: block;
}

.firstLine {
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
}

.secondLine {
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    color: #ffffff;
    text-transform: uppercase;
}

/*3 блока выбора линий конец*/

/*4 блока с тарифами начало*/
.rates {
    height: 927px;
}

.itemsContent {
    display: grid;
    grid-template-rows: repeat(3, 1fr) 134px;
}

.card {
    border: 1px solid #cfd7dd;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 138px 121px auto;
    text-align: center;

}

.cardsWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(539px, max-content);
    grid-gap: 31px;
    margin-top: 132px;

}

.itemsContent > div:nth-child(odd) {
    background-color: #f0f4f7;
}

.upgrade div {
    width: 232px;
    height: 50px;
    margin: 15px auto;
}

.card .cardName {
    font-size: 17px;
    font-weight: 500;
}

.card span[class='icon-robot'] {
    font-size: 60px;
    margin-top: 16px;
}

.cardHeader {
    background-color: #1f2847;
    display: grid;
}

.card:first-child .cardHeader {
    color: #6e87fa;
}

.card:nth-child(2) .cardHeader {
    color: #858eff;
}

.card:nth-child(3) .cardHeader {
    color: #af82f6;
}

.card:nth-child(4) .cardHeader {
    color: #4fceff;
}

.card .percent {
    font-family: Roboto;
    font-weight: 900;
    padding-top: 23px;
}

.card .percent > span {
    font-size: 45px;
    display: block;
}

.card .percent span + span {
    font-size: 15px;
    margin-top: -3px;
}

.card .itemsContent span {
    font-family: Roboto;
    font-size: 15px;
    line-height: 48px;
}

.card .upgrade span {
    font-weight: 700;
}

.card .upgrade span > span {
    font-size: 21px;
}

.card .upgrade a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
}

.card:nth-child(1) .upgrade span {
    color: #5a6fcf;
}

.card:nth-child(2) .upgrade span {
    color: #6a86f1;
}

.card:nth-child(3) .upgrade span {
    color: #a773f7;
}

.card:nth-child(4) .upgrade span {
    color: #33c1f7;
}

.card:nth-child(1) .upgrade div {
    background-color: #637ae2;
}

.card:nth-child(2) .upgrade div {
    background-color: #858eff;
}

.card:nth-child(3) .upgrade div {
    background-color: #af82f6;
}

.card:nth-child(4) .upgrade div {
    background-color: #4fceff;
}

/*4 блока с тарифами конец*/

/*Калькулятор начало*/
.calculator {
    background: linear-gradient(to left, #359ccb, #6b4fbf);
    position: relative;
    height: 669px;
    color: #ffffff;

}

.calcFooter {
    height: 138px;
    background-color: #1f2847;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.calcFooter .container > div {
    display: inline-block;
    vertical-align: middle;
}

.calcFooter .connectWhite {
    margin-left: 124px;
}

.calcWrapper {
    width: 570px;
    height: 529px;
    padding-top: 94px;
}

.calcTitle {
    position: relative;
    padding: 28px 0 0 40px;
    width: 570px;

}

.calcTitle:before {
    display: block;
    content: '';
    position: absolute;
    border: 2px solid #ffffff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 2;
}

.calcTitle:after {
    display: block;
    content: '';
    position: absolute;
    border: 2px solid #ffffff;
    border-left-color: transparent;
    border-top-color: transparent;
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.calcChangeLine {
    margin-top: 30px;
}

.calcChangeLine fieldset {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
}

.calcChangeLine fieldset:last-child {
    padding-left: 14px;
}

.calcChangeLine select {
    margin-top: 13px;
    width: 271px;
    height: 44px;
}

.calcChangeSum {
    background-color: #1f2847;
    height: 154px;
    margin-top: 58px;
    padding-top: 44px;
    text-align: center;
    position: relative;
    -webkit-box-shadow: inset 0px 29px 30px -12px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: inset 0px 29px 30px -12px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0px 29px 30px -12px rgba(0, 0, 0, 0.39);
}

.calcChangeSum:after {
    content: '';
    height: 24px;
    width: 48px;
    background: url("../img/png/calcarrow.png");
    position: absolute;
    left: calc(50% - 24px);
    top: -1px;

}

.calcChangeSum input {
    background-color: #2f3753;
    color: #ffffff;
    width: 510px;
    height: 44px;
    border: 1px solid #4e566e;
    padding: 0 35px;
    margin: 15px 30px;
    position: relative;
    font-family: Roboto;
    font-weight: 700;
    -webkit-box-shadow: inset 0px 29px 15px -24px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: inset 0px 29px 15px -24px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0px 29px 15px -24px rgba(0, 0, 0, 0.39);
}

.calcChangeSum:before {
    content: '$';
    font-family: Roboto;
    font-weight: 700;
    font-size: 21px;
    position: absolute;
    color: #748af2;
    left: 48px;
    top: 88px;
    z-index: 2;
}
.calcChangeSum fieldset{
    margin: 0;
    padding: 0;
}
.sumChange {
    height: 138px;
    width: 570px;
    border: 1px solid green;
}

.calculator:after {
    background-image: url(../img/png/hand_phone.png);
    content: '';
    position: absolute;
    height: 612px;
    width: 966px;
    right: 0;
    bottom: -19px;
}

.calculator h2 {
    font-size: 37px;
    text-transform: uppercase;
}

.calculator h4 {
    font-size: 14px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: left;
}

.calculator h3 {
    font-size: 21px;
    line-height: 54px;
    text-transform: uppercase;
}

.profit {
    position: absolute;
    top: 225px;
    right: 500px;
    z-index: 2;
    text-align: center;

}

.calculator .profit span {
    font-size: 70px;
    line-height: 54px;
    color: #858eff;
    font-family: Roboto;
    font-weight: 900;
}

/*Кнопка подключиться*/
.connectWhite {
    width: 466px;
    height: 80px;
    position: relative;
}

.connectWhite * {
    font-size: 21px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.connectWhite a {
    font-weight: 700;
    padding-left: 21px;
}

.connectWrapper {
    position: absolute;
    text-align: center;
    line-height: 80px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.connectWhite:before,
.connectWhite:after,
.connectWrapper:before,
.connectWrapper:after {
    position: absolute;
    width: 20px;
    height: 21px;
    content: '';
    border: solid #858eff;
}

.connectWhite:before {
    left: 0;
    top: 0;
    border-width: 2px 0 0 2px;
}

.connectWhite:after {
    right: 0;
    top: 0;
    border-width: 2px 2px 0 0;
}

.connectWrapper:before {
    right: 0;
    bottom: 0;
    border-width: 0 2px 2px 0;
}

.connectWrapper:after {
    left: 0;
    bottom: 0;
    border-width: 0 0 2px 2px;
}

/*Кнопка подключиться конец*/
/*Калькулятор конец*/

/*Сертификат начало*/
.certificate {
    background-color: #ffffff;
    height: 742px;
}

.certTitle {
    padding: 168px 45px 0 45px;
    position: relative;
}

.certTitle:before {
    display: block;
    content: '';
    position: absolute;
    border: 3px solid #4cc4f4;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 65px;
    height: 65px;
    top: 165px;
    left: 0;
    z-index: 2;
}

.certTitle > span {
    font-size: 177px;
    font-weight: 800;
    position: absolute;
    opacity: 0.77;
    left: 17px;
    bottom: -21px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1edfa+0,e4d8f7+100 */
    background: rgb(225,237,250); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(225,237,250,1) 0%, rgba(228,216,247,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(225,237,250,1) 0%,rgba(228,216,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(225,237,250,1) 0%,rgba(228,216,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1edfa', endColorstr='#e4d8f7',GradientType=1 ); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.certTitle h4 {
    text-transform: uppercase;
    font-size: 14px;

}

.certTitle h2 {
    font-size: 33px;
    line-height: 70px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.certContent p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    float: left;
    width: 33%;
}

.certContent p + p {
    margin-left: 45px;
}

.certContent {
    margin: 51px 0 0 42px;
}

.certificate p > span {
    font-weight: 700;
}

.certificate img {
    padding: 30px;
    margin-left: 68px;
    height: 317px;
    width: 240px;
    position: relative;
    -webkit-box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.56);
    box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.56);
}

/*Сертификат конец*/

/*Преимущества начало*/
.advantages {
    height: 1167px;
    background-color: #f0f4f7;
    position: relative;
}

.advantages h2 {
    font-size: 33px;
    line-height: 30px;
    text-transform: uppercase;

}

.advantages h4 {
    font-size: 14px;
    line-height: 39px;
    text-transform: uppercase;
    font-weight: 700;
}

.advTitle {
    text-align: center;
    padding: 165px 0 12px;
    position: relative;
    width: 573px;
    margin: 0 auto;
}

.advMainTitle {
    text-align: center;
}

.advMainTitle div + div {
    margin-top: 50px;
}

.advTitle:before {
    display: block;
    content: '';
    position: absolute;
    border: 2px solid #4cc4f4;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 40px;
    height: 40px;
    top: 125px;
    left: 0;
    z-index: 2;
}

.advTitle:after {
    display: block;
    content: '';
    position: absolute;
    border: 2px solid #4cc4f4;
    border-left-color: transparent;
    border-top-color: transparent;
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.advantages p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    margin-top: 30px;
}

.advantages h3 {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;

}

.advantages .logoWords span {
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
}

.advantages ul span:not([class^="icon"]) {
    font-size: 15px;
    line-height: 24px;
    font-family: Roboto;
    font-weight: 700;
}

.advantages span[class^="icon"] {
    font-size: 43px;
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1db7f0+0,7e37d0+100 */
    background: rgb(29,183,240); /* Old browsers */
    background: -moz-linear-gradient(30deg, rgba(29,183,240,1) 0%, rgba(126,55,208,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(30deg, rgba(29,183,240,1) 0%,rgba(126,55,208,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(30deg, rgba(29,183,240,1) 0%,rgba(126,55,208,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1db7f0', endColorstr='#7e37d0',GradientType=1 ); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.advantages:after {
    content: '';
    position: absolute;
    background: url("../img/png/phone.png") no-repeat;
    left: 50%;
    margin-left: -208px;
    z-index: 2;
    width: 417px;
    height: 617px;
    top: 497px;
}

.advItems {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 175px;
}

.advLeft {
    text-align: right;
    display: grid;
    grid-template-rows: repeat(3, 73px);
    grid-row-gap: 60px;
    margin: 20px 305px 0 0;

}

.advRight {
    text-align: left;
    display: grid;
    grid-template-rows: repeat(3, 73px);
    grid-row-gap: 60px;
    margin: 20px 0 0 315px;
}

.advItems li {
    position: relative;
}

.advLeft li:after {
    content: '';
    width: 73px;
    height: 73px;
    display: block;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    right: -90px;
    top: -15px;

}

.advRight li:before {
    content: '';
    width: 73px;
    height: 73px;
    display: block;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    left: -90px;
    top: -15px;
}
.advItems span{
    position: relative;
}
.advLeft span[class^="icon"]{
    right: -73px;
    top: 0;
    z-index: 3;
}
.advRight span[class^="icon"]{
    left: -73px;
    top: 0;
    z-index: 3;
}
/*Преимущества конец*/

/*Партнёрская программа начало*/

.partnersProgram {
    height: 799px;
    position: relative;
}

.partnersProgram:after {
    position: absolute;
    content: '';
    width: 1920px;
    height: 799px;
    left: 50%;
    top: 0;
    z-index: -2;
    margin-left: -960px;
    background: url("../img/png/partnerbc.png") left -412px top -565px no-repeat, linear-gradient(to left, #359ccb, #6b4fbf);
}

.partnersProgram:before {
    position: absolute;
    content: '';
    height: 1036px;
    width: 1016px;
    left: 0;
    top: 0;
    background: url("../img/png/2hands.png") left top -290px no-repeat;
}

.partnerContent {
    margin-left: 589px;
    text-align: center;
}

.partnersProgram h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 33px;
    line-height: 30px;
    padding: 142px 44px 54px 44px;
}

.affItems p {
    font-family: Roboto;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
}

.affItems p > span {
    font-weight: 700;
    font-size: 33px;
    line-height: 36px;
}

.affItems {
    margin-top: 22px;
}

.affItems li {
    height: 103px;
    width: 569px;
    background-color: rgba(51, 51, 51, 0.34);
}

.affItems li + li {
    margin-top: 20px;
}

.partnerFooter {
    width: 100%;
    margin-top: 62px;
    background-color: #1f2847;
    height: 140px;
    position: relative;
}

.partnerFooter:after {
    content: '';
    position: absolute;
    height: 54px;
    width: 571px;
    background-image: url(../img/png/con_footer.png);
    top: -40px;
    right: 385px;
    z-index: -1;
}

.partnersProgram .connectWhite {
    margin-left: 650px;

}

/*Партнёрская программа конец*/

/*Новости начало*/
.news {
    height: 969px;
    background-color: #ffffff;
}

.news h2 {
    text-transform: uppercase;
    font-size: 33px;
    line-height: 30px;
    margin: 0 auto;
}

.news h4 {
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
}

.newsMainTitle {
    position: relative;
    margin: 0 auto;

    width: 453px;
    text-align: center;
    padding: 120px 0 25px 0;

}

.newsMainTitle:before {
    display: block;
    content: '';
    position: absolute;
    border: 2px solid #4cc4f4;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 40px;
    height: 40px;
    top: 90px;
    left: 0;
    z-index: 2;
}

.newsMainTitle:after {
    display: block;
    content: '';
    position: absolute;
    border: 2px solid #4cc4f4;
    border-left-color: transparent;
    border-top-color: transparent;
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.date {
    font-family: Roboto;
    font-weight: 700;
    font-size: 33px;
    padding-top: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    width: 73px;
    height: 73px;
    background: rgba(80, 189, 239, 1);
    background: -moz-linear-gradient(left, rgba(80, 189, 239, 1) 0%, rgba(127, 97, 220, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(80, 189, 239, 1)), color-stop(100%, rgba(127, 97, 220, 1)));
    background: -webkit-linear-gradient(left, rgba(80, 189, 239, 1) 0%, rgba(127, 97, 220, 1) 100%);
    background: -o-linear-gradient(left, rgba(80, 189, 239, 1) 0%, rgba(127, 97, 220, 1) 100%);
    background: -ms-linear-gradient(left, rgba(80, 189, 239, 1) 0%, rgba(127, 97, 220, 1) 100%);
    background: linear-gradient(to right, rgba(80, 189, 239, 1) 0%, rgba(127, 97, 220, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50bdef', endColorstr='#7f61dc', GradientType=1);
}

.item_news .date {
    float: left;
}

.current_news h3, .item_news h3 {
    font-size: 17px;
    line-height: 27px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.current_news_content {
    margin: 176px 0 0 25px;

}

.current_news > div {
    z-index: 2;
    position: relative;

}

.current_news:after {
    content: '';
    position: absolute;
    height: 367px;
    width: 570px;
    left: 50%;
    margin-left: -285px;
    top: 0;
    background-color: rgba(0, 0, 73, 0.4);
    z-index: 1;

}

.newsContent {
    border: 1px solid #cfd7dd;
    border-top: none;
    padding: 9px 0 13px 17px;
    display: none;
}

.newsItem h3 {
    font-size: 15px;
    display: block;
}

.news .current_news {
    background: right center no-repeat;
    width: 570px;
    height: 367px;
    grid-row: 1 / -1;
    position: relative;
}

.news .current_news h3 {
    color: #ffffff;
}

.news p {
    font-family: Roboto;
    font-size: 15px;
    line-height: 20px;
    color: #6e7383;
}

.newsList a {
    color: #49d5fe;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
}

.news .current_news p {
    line-height: 20px;
}

.item_news .date {
    display: block;
    float: left;
}

.month {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    display: block;
}

.item_news .newsHeader {
    background-color: #f0f4f7;
    height: 73px;

}

.newsHeaderTitle {
    display: inline-block;
    margin-top: 13px;
}

.newsList span[class='icon-robot'] {
    font-size: 16px;
    color: #9b9fad;
    position: absolute;
    left: -19px;
    top: 0;

}

.newsList .yourRobot {
    color: #9b9fad;
    font-size: 13px;
    line-height: 24px;

}

.yourRobot {
    margin-left: 15px;
    position: relative;
}

.item_news h3 {
    margin-left: 15px;
}

.item_news .yourRobot {
    margin-left: 38px;
}

.newsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    margin-top: 90px;
    grid-row-gap: 24px;
    grid-column-gap: 30px;
}

.allNews {
    height: 50px;
    width: 192px;
    margin: 105px auto;
    line-height: 45px;
}

.newsMore {
    font-size: 31px;
    line-height: 54px;
    height: auto;
}

.newsMore p {
    line-height: 22px;
}

.current_news_content p, .current_news_content .yourRobot {
    color: #ced9e1;
}

/*Новости конец*/

/*Способы оплаты*/
.payments {
    background: url("../img/png/payleft.png") top left no-repeat, url("../img/png/payright.png") bottom -381px right -84px no-repeat, linear-gradient(to left, #359ccb, #6b4fbf);
    height: 390px;

}

.payItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 128px;
}

/*Способы оплаты конец*/

/*Футер*/

footer {
    background-color: #1f2847;
    position: relative;
}

footer .connect * {
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 54px;
}

footer .connectWhite {
    margin: 0 auto;
}

.connectWhite span[class^="icon"] {
    font-size: 30px;
}

footer:after {
    content: '';
    position: absolute;
    height: 54px;
    width: 571px;
    background-image: url(../img/png/con_footer.png);
    top: -53px;
    left: calc(50% - 285px);

}

.topFooter span[class^="icon"] {
    position: absolute;
    left: -26px;
    font-size: 14px;
}

.topFooter li, .address {
    position: relative;
}

.footerInfo {
    font-size: 15px;
    line-height: 25px;
    color: #bbc0d2;
    font-family: Roboto;
}

.address .footerInfo {
    display: block;
    margin-top: 33px;
}

.copyright .footerInfo {
    display: block;
    margin-top: 46px;
}

.social span {
    line-height: 22px;
}

.social li + li {
    margin-top: 23px;
}

.footerInfoTitle {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
}

footer .address .row1 {
    color: #6981f1;
}

footer .social .row2 {
    color: #a489d9;
}

footer .social .row3 {
    color: #49d5fe;
}

.topFooter {
    margin-top: 98px;
}

.topFooter .copyright {
    float: left;

    margin-top: -10px;
}

.topFooter .address {
    display: inline-block;
    margin-left: 123px;
}

.topFooter .social {
    display: inline-block;
    margin-left: 80px;

}

.topFooter .social ul {
    display: inline-block;
}

.topFooter .social ul:last-child {
    margin-left: 124px;
}

.menuFooter {
    background-color: #151b33;
    height: 96px;
    margin-top: 92px;
    padding-top: 30px;

}

footer .menu {
    justify-content: center;
}

.affiliate {
    background-color: #f0f4f7;
}

.referralItems {
    background-color: #1f2847;
}

.referralItems p {
    color: #9da4bd;
}

.marketing .line:after {
    display: none;
}

.ratesInfo .ratesEdge {
    height: 845px;
    background-color: #f0f4f7;
}

.marketing {
    height: 755px;
    background-color: #ffffff;
}

.ratesEdge p {
    padding: 35px 0 0 19px;
    text-align: left;
}

.ratesEdge .card {
    grid-template-rows: 138px 497px;
}

.ratesEdge .upgrade {
    margin-top: 37px;
}

.marketingInner li {
    width: 50%;
    float: left;
}